<nav class=" navbar-light bg-light">
    <ul class="nav justify-content-end nav-pills">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <li class="nav-item">
            <a class="nav-link " [routerLink]="['/']" routerLinkActive="router-link-active" (click)="home()">
                <mat-icon>home</mat-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="cart()" [routerLink]="['/displaycart']">
                <mat-icon>shopping_cart</mat-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="#"
                *ngIf="expression;else templateName">{{Fname}}</a>
        </li>
        <ng-template #templateName>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {{Fname}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Log Out</a>
                    <a class="dropdown-item" [routerLink]="['/payment']" routerLinkActive="router-link-active"
                        (click)="payment()">CheckOut Cart</a>

                </div>
            </li>

        </ng-template>
    </ul>

    <!-- </div> -->
</nav>
<div class="modal fade" id="exampleModal" tabindex="-5" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail">Email address</label>
                        <input type="email" class="form-control" name="exampleInputEmail" aria-describedby="emailHelp"
                            [(ngModel)]="checkemail">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                            anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword">Password</label>
                        <input type="password" class="form-control" name="exampleInputPassword" [(ngModel)]="checkpass">
                    </div>
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="modal" data-target="#exampleModal2" href="#">New-User?
                            Sign-in</a>
                    </li>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                        <button type="button" class="btn btn-primary" (click)="logincheck()" data-dismiss="modal">Log
                            In</button>
                    </div>
                    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" name="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">First name</label>
                            <input type="text" class="form-control" name="validationCustom01" required
                                [(ngModel)]="newFirstName">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">Last name</label>
                            <input type="text" class="form-control" name="validationCustom02" required
                                [(ngModel)]="newLastName">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" name="exampleInputEmail1"
                                aria-describedby="emailHelp" required [(ngModel)]="newEmail">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" name="exampleInputPassword1" required
                                [(ngModel)]="newPass">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="exampleInputAddress1">Address </label>
                            <input type="text" class="form-control" name="exampleInputAddress1" required
                                [(ngModel)]="Address">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="exampleInputLane1">Lane</label>
                            <input type="text" class="form-control" name="exampleInputLane1" required
                                [(ngModel)]="Lane">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom03">City</label>
                            <input type="text" class="form-control" name="validationCustom03" required
                                [(ngModel)]="city">
                            <div class="invalid-feedback">
                                Please provide a valid city.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationCustom04">State</label>
                            <input type="text" class="form-control" name="validationCustom04" required
                                [(ngModel)]="state">
                            <div class="invalid-feedback">
                                Please select a valid state.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationCustom05">Zip</label>
                            <input type="text" class="form-control" name="validationCustom05" required
                                [(ngModel)]="zip">
                            <div class="invalid-feedback">
                                Please provide a valid zip.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                                Agree to terms and conditions
                            </label>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                    </div>
                    <!-- <button class="btn btn-primary" type="submit">Submit form</button> -->
                    <!-- <button type="button" class="btn btn-secondary" >Close</button> -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" (click)="save()" data-dismiss="modal">Save
                            changes</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>
<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="alerts">
    <strong>Wrong Email or Password!</strong> You should check in on some of those fields below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="restore()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>