<app-navbar  ></app-navbar>
<!-- <div class="container bg-light"></div>
    <div class="jumbotron jumbotron-fluid" *ngIf="expression2;else templateName">
      <div class="container">
        <h1 class="display-4">Hola Amigos!!!! Welcome to San-Kart</h1>
        <p class="lead">Click on a Category and enjoy shopping!!!</p>
        <h6>
          <mat-icon>copyright</mat-icon>Sandeepan Das
        </h6>
      </div>
      <button type="button" class="btn btn-outline-primary" (click)="category()">Category</button>
    </div>
</div> -->



    <router-outlet></router-outlet>
  
    <h6>
        <mat-icon>copyright</mat-icon>Sandeepan Das
    </h6>